@font-face {
	font-family: 'RobotoMono';
}

*{
	font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: black;
  padding: 0;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center; 
  width: 960px;	
  height: 100vh;
  color: #FFF;
  background-color: green;
  padding: 0;
  margin: 0;		
}

#carta {
  position: absolute;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #f0f0f0;  
  border-radius: 15px;
  border: 1px solid #b4b4b4; 
  width: 200px;
  height: 320px;  
}

#carta2 {
  position: absolute;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #f0f0f0;  
  border-radius: 15px;
  border: 1px solid #b4b4b4; 
  width: 200px;
  height: 320px;  
}

#figura {
  display: flex;
  justify-content: center; 
  align-items: center;
  align-content: center;
  border: 1px solid #787878; 
  width: 160px;
  height: 260px; 
  font-size: 150px;
  color: #ff0000;
}

#figura2 {
  display: flex;
  justify-content: center; 
  align-items: center;
  align-content: center;
  border: 1px solid #787878; 
  width: 160px;
  height: 260px; 
  font-size: 150px;
  color: #ff0000;
}

#naipe {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  width: 40px;
  height: 320px;
  font-size: 40px;
  color: #ff0000; 
}

#naipe2 {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  width: 40px;
  height: 320px;
  font-size: 40px;
  color: #ff0000; 
}

#naipebotton {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  width: 40px;
  height: 320px;
  font-size: 40px;
  color: #ff0000;
  -moz-transform:rotate(-180deg); /* Firefox */
  -webkit-transform:rotate(-180deg); /* Webkit */        
  -ms-transform:rotate(-180deg); /* IE */
  -o-transform:rotate(-180deg); /* Opera */
  transform:rotate(-180deg); /* future */  
}

#naipebotton2 {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  width: 40px;
  height: 320px;
  font-size: 40px;
  color: #ff0000;
  -moz-transform:rotate(-180deg); /* Firefox */
  -webkit-transform:rotate(-180deg); /* Webkit */        
  -ms-transform:rotate(-180deg); /* IE */
  -o-transform:rotate(-180deg); /* Opera */
  transform:rotate(-180deg); /* future */  
}